<div class="container">
  <h1>Veterinary Appointments</h1>
  <label for="filterValue">Filter by {{ selectedValue }}:</label>
  <select [(ngModel)]="selectedValue" name="selectedValue" class="form-control mb-2">
    <option value="id">ID</option>
    <option value="animalName">Animal Name</option>
    <option value="doctorName">Doctor Name</option>
    <option value="date">Date</option>
    <option value="services">Services</option>
    <option value="diagnostic">Diagnostic</option>
    <option value="status">Status</option>
  </select>
  <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
    <div class="form-group">
      <input type="text" id="filterValue" formControlName="filterValue" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Apply Filters</button>
  </form>
  <div class="form-group mt-3">
    <input type="text" placeholder="Save search as..." [(ngModel)]="savedSearchName" name="savedSearchName" class="form-control">
    <button (click)="saveSearch()" class="btn btn-secondary mt-2">Save Search</button>
  </div>
  <div class="form-group mt-3">
    <label for="savedSearches">Load saved search:</label>
    <select id="savedSearches" class="form-control" [(ngModel)]="selectedSearchName" (ngModelChange)="loadSearch($event)">
      <option *ngFor="let search of savedSearchService.getSavedSearches()" [value]="search.name">{{ search.name }}</option>
    </select>
  </div>
  <table class="table table-bordered mt-3">
    <thead>
    <tr>
      <th>ID</th>
      <th>Animal Name</th>
      <th>Doctor Name</th>
      <th>Date</th>
      <th>Services</th>
      <th>Diagnostic</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let appointment of filteredAppointments">
      <td>{{ appointment.id }}</td>
      <td>{{ appointment.animalName }}</td>
      <td>{{ appointment.doctorName }}</td>
      <td>{{ appointment.date }}</td>
      <td>{{ appointment.services.join(', ') }}</td>
      <td>{{ appointment.diagnostic }}</td>
      <td>{{ appointment.status }}</td>
      <td>
        <a [routerLink]="['/appointments/edit', appointment.id]" class="btn btn-secondary">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
